:root {
  --color-theme: #28c1bc;
  --color-gray100: #f5f5f7;
  --color-gray200: #e0e0e0;
  --color-gray500: #bdbdbd;
  --color-gray700: #828282;
  --color-gray900: #010101;
  --color-white: #fff;
  --color-green: #52b201;
  --color-red: #ff4b0d;
  --color-blue: #0075de;
}

* {
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
}
body {
  margin: 0;
  font-family: 'Noto Sans KR', sans-serif;
  background-color: var(--color-gray100);
  font-size: 1.4rem;
}
p {
  line-height: 1.5;
  color: var(--color-gray900);
}
button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

@media (max-width: 319px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  html {
    font-size: 9.5px;
  }
}
@media (min-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  html {
    font-size: 10px;
  }
}
@media (min-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  html {
    font-size: 10px;
  }
}
@media (min-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  html {
    font-size: 10.5px;
  }
}
@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  html {
    font-size: 10.5px;
  }
}
@media (min-width: 1025px) {
  /* big landscape tablets, laptops, and desktops */
  html {
    font-size: 10.5px;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  html {
    font-size: 11px;
  }
}
