header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3.2rem 8rem;
}

h1 {
  font-size: 2rem;
}

.sidebar-openBtn {
  background: none;
  border: none;
  padding: 0;
}

.sidebar-openBtn > img {
  width: 2.4rem;
  height: 2.4rem;
}
