.todo-container {
  display: flex;
  padding: 3.2rem 8rem;
}

.todo-column {
  width: 30.8rem;
  margin-right: 1.6rem;
}

.todo-column-header {
  display: flex;
  align-items: center;
  padding: 1.6rem 0.4rem;
  font-weight: 700;
}

.todo-column-title {
  margin-right: 0.8rem;
}

.todo-column-count {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.6rem;
  height: 2.6rem;
  border-radius: 50%;
  background-color: var(--color-gray500);
  margin-right: auto;
  line-height: 1;
}

.todo-card-container {
  min-height: 100vh;
}

.todo-card-addBtn {
  margin-right: 0.8rem;
}

.todo-card-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1.6rem;
  background-color: var(--color-white);
  padding: 1.6rem;
  border-radius: 0.6rem;
  user-select: none;
}

/* 드래그 이벤트 css*/
.hover {
  position: absolute;
  padding: 0;
  margin: 0;
  transform: rotate(-5deg);
}

.temp {
  opacity: 0.5;
}

.start {
  height: 0;
  border-radius: 0;
  padding: 0;
  margin: 0;
}
/* */

.todo-card-removeBtn {
  height: fit-content;
}

.todo-card-content {
  margin: 0.4rem 0.8rem 0 0.4rem;
}

.todo-card-title {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.todo-card-description {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
}

.todo-card-author {
  color: var(--color-gray500);
}

.todo-form {
  border: 1px solid var(--color-blue);
  padding: 1.6rem;
  margin-bottom: 1.6rem;
  border-radius: 0.6rem;
  background-color: white;
}

.todo-form.hidden {
  display: none;
}

input {
  border: none;
}

input::placeholder {
  color: var(--color-gray700);
}

.todo-form-btns {
  display: flex;
  margin: 0 -0.4rem;
}

.todo-form-cancelBtn,
.todo-form-submitBtn {
  flex: 1;
  margin: 0 0.4rem;
  padding: 1rem;
  font-size: 1.4rem;
  border-radius: 0.6rem;
}

.todo-form-cancelBtn,
.todo-form-submitBtn:disabled {
  background-color: var(--color-gray200);
  color: var(--color-gray700);
}

.todo-form-submitBtn {
  background-color: var(--color-blue);
  color: var(--color-white);
}

.todo-title-input {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: 0.8rem;
}

.todo-description-input {
  font-size: 1.4rem;
  margin-bottom: 1.6rem;
}
